*.pyc
migrations
db.sqlite3
settings.py
__pycache__
.idea
media
igartstep.sublime-project
shopCBV.sublime-project
shopCBV.sublime-workspace
igartstep.sublime-workspace
Будет удалено main/
Будет удалено templates/
