{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="position-relative" style="max-width: 100%; overflow: hidden">
        <div class="row">
            {% if request.user.is_staff or request.user.is_superuser %}
                <a href="{% url 'about_edit' %}" style="position: absolute; color: red;">Редактировать</a>
            {% endif %}

            <div class="col-xs-12">
                <h1>{{ flatpage.title }}</h1>
                {{ flatpage.content }}
            </div>
        </div>

    </div>


{% endblock content %}