{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block head_title %}Главная страница{% endblock head_title %}


{% block content %}

  {{ block.super }}
      
        
  <div class="row wrap-tile">
    <div class="col-sm-6 col-sm-offset-3">
  <form method="GET" action="" class="row">
  <div class="col-sm-6">
  <div class="input-group"> 
    <input class="form-control" type="text" placeholder="Search post" name="q" value="{{ request.GET.q }}">
    <span class="input-group-btn"><input class="btn btn-default" type="submit" value="Search"></span>
  </div>
  </div>
</form>
      {% for tile in tiles_pages %}
          <a href="{{ tile.get_absolute_url }}">
            <div class="tile-wrapper"><div class="tile-div">
              <h2 class="tile-h2">{{ tile.title }}</h2><span>{{ tile.published|timesince }} назад</span>
              <img src="/media/{{ tile.avatar }}" class="tile-img img-circle center-block img-responsive">
              <p>{{ tile.content|truncatechars:200 }}</p>
            </div></div>
          </a>
      {% endfor %}

    </div>
  </div>






  

{% endblock content %} 
