<div class="row top-page">
    <div class="col-md-3 with-vert-align"><a href="/"><img src="/media/{{ firm_settings.logo }}" class="main-logo img-responsive" ></a> </div>
    <div class="col-md-1 with-vert-align "><img src="/media/homepage/house.png" class="nav-img "></div>
    <div class="col-md-2 with-vert-align">{{ firm_settings.address | safe}}</div>
    <div class="col-md-3 with-vert-align"> Время работы {{ firm_settings.work_time }} </div>
    <div class="col-md-3 with-vert-align"><img src="/media/homepage/phone.png" class="nav-img"> {{ firm_settings.phone1 }}  <br> {{ firm_settings.phone2 }}</div>
</div>