{% extends "homepage/base.html" %}


{% block content %}
  <div class="row">
        <div class="col-xs-6">
          <h3>Заказчик</h3>
          <p>Имя:{{ instance.FIO }}</p>
          <p>Адресс:{{ instance.adress }}</p>
          <p>Email:{{ instance.email }}</p>
          <p>Телефон:{{ instance.phone_number }}</p>
        </div>
        <div class="col-xs-6">
          <h3>Заказ</h3>
          {% for item in ordered_product %}
              <p>Название товара:{{ item.product.name }}</p>
              <img src="/media/{{ item.product.avatar }}" class="img-fluid" alt="">
              <p><a href="{{ item.product.get_absolute_url }}">Ссылка</a></p>
              <p>Количество:{{ item.count }}</p>
          {% endfor %}

          {% for item in ordered_service %}
              <p>Название услуги:{{ item.service.name }}</p>
              <img src="/media/{{ item.service.avatar }}" class="img-fluid" alt="">
              <p><a href="{{ item.service.get_absolute_url }}">Ссылка</a></p>
              <p>Количество:{{ item.count }}</p>
          {% endfor %}
        </div>
  </div>
 
{% endblock content %}