{% extends "homepage/base.html" %}


{% block content %}
  <div class="row">
        <div class="col-xs-6">
          <h3>Заказчик</h3>
          <p>Имя: {{ instance.user.last_name }} {{ instance.user.first_name }}</p>
          <p>Адрес: {{ instance.user.address }}</p>
          <p>Время: {{ instance.date }}</p>
          <p>Email: {{ instance.user.email }}</p>
          <p>Телефон: {{ instance.user.phone }}</p>
        </div>

        <div class="col-xs-6">
            <h3>Заказ</h3>
            <div class="">
                <h5>{{ item.title }}</h5>
                <img src="/media/{{ item.image }}" alt="">
                <b>Количество: {{ instance.item.count }}</b>
            </div>
        </div>
  </div>
 
{% endblock content %}