{% extends "homepage/base.html" %}


{% block content %}
    <div class="container pt-1">
        <h1>Заказы</h1>
        <div class="row pt-1">

            <div class="col-sm-6">
                <h4>Услуги</h4>
                <hr>
                <ul>
                    {% for order in service_orders %}
                        <li>{{ order }}</li>
                    {% empty %}
                        Заказов нет
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-6">
                <h4>Товары</h4>
                <hr>
                <ul>
                    {% for order in product_orders %}
                        <li>{{ order }}</li>
                    {% empty %}
                        Заказов нет
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}