{% extends "homepage/base.html" %}


{% block content %}
	<div class="row">

		<div class="col-xs-3">
					<div class="list-group">
							<br>
							<h4>Категории</h4>
							{% for catgr in another_categories %}
							  <a href="{{ catgr.get_absolute_url_for_blog }}" class="list-group-item">{{ catgr.title }}</a>
							{% endfor %}
					</div>	
	  </div>

		<div class="col-xs-6">
					<br>
					<form method="GET" action="" class="row">
					  		<div class="input-group">	
					  			<input class="form-control" type="text" placeholder="Введите запрос" name="q" value="{{ request.GET.q }}">
					  			<span class="input-group-btn"><input class="btn btn-default" type="submit" value="Search"></span>
					  		</div>
					</form>
					<hr>
						{% if user.is_staff or user.is_superuser %}
							<a href="{% url 'article_create' category_slug=category_url %}" class="row"><h4>Создать новую статью</h4></a>
						{% endif %}
					<hr>
					
					<div class="item-list">
							{% for obj in object_list %}
									{% if obj.draft %}
										<h4 style="color:#f00">В разработке</h4>
									{% endif %}
									<h3>
										<a href="{{ obj.get_absolute_url }}"> {{ obj.title }} </a>
										<span>{{ obj.updated|timesince }} назад</span>
									</h3>	
									{% if obj.image %}
									   <img src="/media/{{ obj.image }}" alt="" class="img-fluid" />
									{% endif %}
									<div class="content-markdown">
						  	 		<p>{{ obj.get_markdown|truncatechars_html:50|safe }} </p>
						    	</div>
									<hr/>
							{% endfor %}
					</div>


					<div class="pagination">
						<span class="step-links">
							{% if object_list.has_previous %}
					    	<a href="?{{page_request_var}}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">Предыдущая</a>
							{% endif %}

							<span class="current">
							{{ object_list.number }} из {{ object_list.paginator.num_pages }}.
							</span>

							{% if object_list.has_next %}
					   		<a href="?{{page_request_var}}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">Следующая</a>
							{% endif %}
						</span>
					</div>
		</div>

		<div class="col-xs-3">
					<br>
		</div>

</div>


{% endblock content %}