{% extends "homepage/base.html" %}


{% block content %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<h1>List</h1>
<br>


<form method="GET" action="" class="row">
  <div class="col-sm-6">
	<div class="input-group">	
		<input class="form-control" type="text" placeholder="Search post" name="q" value="{{ request.GET.q }}">
		<span class="input-group-btn"><input class="btn btn-default" type="submit" value="Search"></span>
	</div>
  </div>
</form>

{% if user.is_staff or user.is_superuser %} <a href="{% url 'article_create' %}" class="row"><h4>Create new article</h4></a>{% endif %}

{% for obj in object_list %}
		<h3><a href="{{ obj.get_absolute_url }}"> {{ obj.title }} </a><span>{{ obj.updated|timesince }} ago</span></h3>	
		<img src="/media/{{ obj.image }}" alt="" class="img-responsive" />
		<p> {{ obj.content|truncatechars:200 }} </p>
		<hr/>
{% endfor %}


<div class="pagination">
	<span class="step-links">
		{% if object_list.has_previous %}
    	<a href="?{{page_request_var}}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">Предыдущая</a>
		{% endif %}

		<span class="current">
		{{ object_list.number }} из {{ object_list.paginator.num_pages }}.
		</span>

		{% if object_list.has_next %}
   		<a href="?{{page_request_var}}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">Следующая</a>
		{% endif %}
	</span>
</div>


</div>
</div>
{% endblock content %}