div.header {
    height: 120px;
    overflow: hidden;
    background-color: #f3f3f3;
}
.for-back-img {
    width: 100%;
    height: 100%;
    background-image: url("pattern-for-tiles.png");
    opacity: 0.20;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#logo {
    max-width: 100%;
    max-height: 110px;
}

.dropdown-item {
    width: 400px;
    height: 50px;
    line-height: 45px;
    text-align: center;
}

@media (max-width: 375px) {
    .dropdown-item {
        width: 288px;
    }
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.div-for-text-in-top {
    margin-left: 20px;
    overflow: hidden;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30px;
}

.my-center-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-menu-ul {
    display: inline-flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-around;
    font-family: 'Roboto Condensed Bold', sans-serif;
    margin: auto;
    background-color: #be5845;
    height: 100%;
}

.main-menu-li-a,
.main-menu-li-a:hover,
.main-menu-li-a:active {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: auto;
    width: 100%;
}

.main-menu-li {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

.active {
    background-color: #7f7f7f;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

h3.card-title {
    color: white;
    text-align: center;
}

/*
*
*		Product list
*
*/

.form-control {
    width: 500px;
}

.categories {
    margin: 0;
    padding: 0;
}

.product {
    height: 400px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.product-item-top,
.product-item-bottom {
    text-align: center;
    padding: 0 10px;
}

.a-product:hover {
    text-decoration: none;
}

.product-img {
    width: 100%;
}

/*
----------ProductList---------
*/


main {
    background: radial-gradient(#f4f4f4, #187ec2);
    min-height: 100vh;
    position: relative;
}

.btn-primary,
.card-primary {
    background-color: #be5845;
    border-color: #be5845;
}

.btn-primary {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.content-box {
    margin-top: 20px;
}

.search-box {
    margin-bottom: 10px;
}

.full-size {
    width: 100% !important;
}

.left-box {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.right-box {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.category-card {
    width: 100%;
    text-align: center;
}

.category-card h3 {
    color: white;
    font-size: 20px;
}

.category-card a {
    color: black;
}

.category-card .card-header {
    padding: 0.5rem;
    box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.5);
    color: white;
}

.category-card .card-block {
    background-color: #fff;
    border: .25px solid;
    border-top: 0.125px;
    border-color: #be5845;
    padding: 0.5rem;
}

.card-block-a:hover {
    text-decoration: none;
}

.card-block:hover {
    background-color: #cccccc;
}

.product-card small {
    font-size: 12px;
    color: grey;
}

.product-item-detail {
    margin-top: 20px;
    padding-right: 0;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.item-description h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.item-description p {
    margin-top: 1rem;
    font-size: 14px;
}

.item-description .buy-form {
    padding: 1rem;
    border: 1px solid;
    border-radius: 20px;
    border-color: rgba(31, 129, 195, 0.49);
    background-color: rgba(31, 129, 195, 0.49);
}

.item-description h4 {
    color: black;
}

.item-description .buy-form .count {
    width: 70px;
}

.related-item-card {
    height: auto;
}

.category-list-title {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(31, 129, 195, 0.49);
    padding: 5px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    border-color: #be5845;
}

.category-list-card .category-title {
    font-size: 35px;
    text-shadow: -0 -1px 0 #000000, 0 -1px 0 #000000, -0 1px 0 #000000, 0 1px 0 #000000, -1px -0 0 #000000, 1px -0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.category-list-card {
    opacity: 0.7;
    margin-bottom: 20px;
}

.category-list-card:hover {
    opacity: 1;
}

.category-list-card img {
    min-height: 275px;
    width: auto;
}

/*
.category-list-card .card-img-overlay {
    //padding: 5.25rem;
    text-align: center;
    vertical-align: middle;
}*/

.category-list-card .card-img-overlay h4 {
    margin-top: 5.25rem;
    text-align: center;
    vertical-align: middle;
}

.article-list a, .recent-article-list a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.create-article-card {
    padding: 40px;
    padding-left: 70px;
}

.article-image,
.article-dscrpt {
    padding-bottom: 0px;
    margin-right: 0px;
}

.product-image,
.product-dscrpt {
    padding-bottom: 0px;
    margin-right: 0px;
}

.article-image img {
    min-height: 150px;
    /*		max-height: 200px;*/
}

.product-image img {
    min-height: 150px;
    /*		max-height: 200px;*/
}

.article-dscrpt .updated-time {
    vertical-align: bottom;
    float: right !important;
    font-size: 12px;
    padding-right: 10px;
    margin-top: 10px;
    color: rgba(66, 65, 60, 0.74);
}

.product-dscrpt .product-price {
    vertical-align: bottom;
    float: right !important;
    font-size: 18px;
    padding-right: 10px;
    margin-top: 10px;
    color: rgb(196, 88, 69);
}

.article-dscrpt h4 {
    margin-top: 10px;
    color: rgba(66, 65, 60, 0.74);
}

.product-dscrpt h4 {
    margin-top: 10px;
    color: rgba(66, 65, 60, 0.74);
}

.recent-article-list .card-text {
    font-size: 14px;
    color: rgba(66, 65, 60, 0.95);
}

/*product left nav bar*/
.nav-side-menu {
    /*border-radius: 15%;*/
    /*overflow: auto;*/
    /*font-size: 12px;*/
    /*font-weight: 200;*/
    background-color: #f3f3f3;
    min-height: 10%;

    /*position: fixed;*/
    /*top: 0px;*/
    /*width: 300px;*/
    /*height: 100%;*/
    /*color: #e1ffff;*/
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu .visible-zone {
    padding: 0;
}

.nav-side-menu .visible-product-title {
    text-align: center;
    padding:10px;
    font-size: larger;
    background-color: #be5845;
}

.nav-side-menu .category-header, .nav-side-menu .manufacturer-header {
    padding: 10px;
    /*background-color: #99b0ff;*/
}

.nav-side-menu .category-title, .nav-side-menu .manufacturer-title {
    color: #0E2231;
    height: 40px;
}

.nav-side-menu .category-title:hover, .nav-side-menu .manufacturer-title:hover {
    background-color: #535353;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.category-title a, .manufacturer-title a {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 15px;
}

.category-title a label, .manufacturer-title a label{
    color: #535353;
}
.category-title:hover a label, .manufacturer-title:hover a label {
    color: white;
}

.category-title a label, .manufacturer-title a label {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.nav-side-menu .get-product-list-btn {
    border: 0;
    padding: 5px;
    font-size: large;
    background-color: #b8ff9a;
}

.find-products {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.nav-side-menu .get-product-list-btn:hover {
    background-color: #dd9972;
}

.nav-side-menu a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-content: center;
    text-align: center;
}

.nav-side-menu a label{
    margin: 0;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

/*end product left nav bar*/

/*product-item*/
.image-block {
    background-color: white;
    display: inline-block;
    height:30vh;
    width:100%;
    box-sizing: border-box;
    margin-bottom:15px;
    position: relative;
    border: 5px solid white;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.28);
}

.image-block:hover {
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.37);
    transition: box-shadow 0.3s;
}

.image-block__top, .image-block__bottom {
    display: none;
}
.image-block__top {
    display: inline-block;
    box-sizing: border-box;
    padding: 13px 20px 13px 20px;
    height: 60px;
    background-color: rgba(88,88,88,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
}
.image-block:hover .image-block__bottom {
    display: inline-flex;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    background-color: #fff;
    position: absolute;
    bottom:0;
    right:0;
    width: 100%;
    padding:4px;
    justify-content: center;
    align-items: center;
}
.image-block--grid {
    letter-spacing: -0.35em;
}
.image-block--grid > * {
    letter-spacing: normal;
}
.pull-left {
    display: inline-block;
    width: 65%;
}
.pull-right {
    display: inline-block;
    width: 35%;
}

.image-block__image {
    height:100%;
    width:100%;
    object-fit: cover;
}

.image-block__top__title {
    vertical-align: top;
}

.image-block__top__title__main {
    margin:0;
    font-weight: bold;
    font-size: 14px;
}

.image-block__top__price__ruble {
    font-weight: bold;
    /*margin-top:-5px;*/
}

.image-block__bottom a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-block__bottom svg {
    height:15px;
    width: 15px;
}
.image-block__bottom__left svg {
    fill: deeppink;
}
.image-block__bottom__counter {
    color: gray;
    font-size: small;
    vertical-align: top;
}
/*end product-item*/

/*service list*/
.service-list-item-image {
    height: 300px;
}

.service-list-item-image img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

/*end service list*/

/*homepage*/
.homepage-content {
    padding: 20px;
}

.btn-tile-delete {
    position: absolute;
    top: 5px;
    right: 5%;
}

#new-tile {
    font-size: 10em;
    cursor: cell;
}

.homepage__article {
    border: 1px solid rgba(91, 80, 84, 0.48);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.77);
    padding: 10px;
}
/*end homepage*/

/*order modal*/
.loginmodal-container {
    padding: 30px;
    max-width: 500px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}

.loginmodal-container button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text],
.loginmodal-container input[type=email],
.loginmodal-container input[type=tel] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
.loginmodal-container input[type=email]:hover,
.loginmodal-container input[type=tel]:hover
{
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #b96722;
    padding: 17px 0;
    font-size: 14px;
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #94501c;
}

.loginmodal-container span {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

#user-data-form .error {
    color: red;
    font-size: small;
}
/*end order modal*/