{% load inclusion_tags %}

{% for group in product_groups %}
    <form action="{% url 'filtered_product_list' %}" method="get" class="get-product-list-form">
        <h3>{{ group.title }}</h3>
        <input type="hidden" name="group" value="{{ group.slug }}">
        {% if group.get_all_categories %}
            <h4>Категории</h4>
            {% for category in group.get_all_categories %}
                <label>
                    <input type="checkbox" name="category" value="{{ category.slug }}">
                    {{ category.title }}
                </label>
                <br>
            {% endfor %}
        {% endif %}
        {% if group.get_all_manufacturers %}
            <h4>Производители</h4>
            {% for manufacturer in group.get_all_manufacturers %}
                <label>
                    <input type="checkbox" name="manufacturer" value="{{ manufacturer.slug }}">
                    {{ manufacturer.title }}
                </label>
                <br>
            {% endfor %}
        {% endif %}
    <button class="get-product-list-btn">Найти</button>
    </form>
{% endfor %}
