{% extends "homepage/base.html" %}
{% load staticfiles %}
{% block head_title %}Товар: {{ item.name }} {% endblock head_title %}

{% block content %}
<div class="row main-box">
    <div class="col-md-6 push-md-3">
        <br>
        <h1>{{ item.title }}</h1> 
        {% if item.avatar %}
        <img src="/media/{{ item.avatar }}" class="img-fluid">
        {% endif %}
        <p>{{ item.text_preview }}</p>
        <h4> Цена: {{ item.price }}</h4>
        <form action="/orders/order-create/" method="POST"> {% csrf_token %}
            <input type="number" name="count" value="1" required>
            <input type="hidden" name="id_product" value="{{ item.id }}">
            <button type="submit" class="save btn btn-default">Заказать</button>
        </form>
    </div>
    <div class="col-md-3 pull-md-6 left-box">
        {% if related_items %}
        <div class="card card-primary category-card">
            <div class="card-header"><h3>Похожие товары</h3></div>
            {% for item in related_items %}
              <div class="card-block"><a href="{{ item.get_absolute_url }}" class="">{{ item.title }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
