{% extends "homepage/base.html" %}
{% load inclusion_tags %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row pt-1">
            <div class="col-md-3 p-0">
                {% show_filter_panel %}
            </div>

            <div class="col-md-9" id="product-list">
                {% include "shop/product_list_ajax.html" %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_script %}
    <script src="{% static 'homepage/js/product_list.js' %}"></script>
{% endblock %}
