<div class="container-fluid">
    <div class="row">
        {% for product in product_list %}
            <div class="col-sm-6 mb-1">
                <div class="image-block">
                    <div class="image-block__top image-block--grid">
                        <div class="image-block__top__title pull-left">
                            <h4 class="image-block__top__title__main">{{ product.title }}</h4>
                        </div>
                        <div class="image-block__top__price pull-right">
{#                            <div class="image-block__top__timestamp__month">Jan</div>#}
{#                            <div class="image-block__top__timestamp__day">15th</div>#}
                            {% if product.new_price or product.price %}
                            <div class="image-block__top__price__ruble">
                                    {% if product.new_price %}
                                        <b>{{ product.new_price }} р</b>
                                        <s>{{ product.price }}</s>
                                    {% else %}
                                        <b>{{ product.price }} р</b>
                                    {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <img src="/media/{{ product.avatar }}" alt="" class="img-fluid image-block__image">
                    <div class="image-block__bottom">
                        <a href="{{ product.get_absolute_url }}" class="btn btn-info">
                                Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>