{% extends "homepage/base.html" %}
{% load inclusion_tags %}

{% block content %}
    <div class="col-md-3">
        {% show_filter_panel %}
    </div>

    <div class="col-md-9">
        {% for product in product_list %}
            <div class="product-list-item p-2" style="background-color:#a59d9b;">
                <h4> {{ product.title }} </h4>
                <div>
                    <p>{{ product.price }}</p>
                    <p>Пр. <a href="{{ product.manufacturer.get_absolute_url }}">{{ product.manufacturer.title }}</a></p>
                    <p>Группа: {{ product.group }}</p>
                    <ul>
                        <li><h4>Категории</h4></li>
                        {% for foo in product.category.all %}
                            <li><a href="{{ foo.get_absolute_url }}">{{ foo.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{ product.get_absolute_url }}">Перейти</a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock content %}