<div class="container-fluid">
    <div class="row">
    {% for product in product_list %}
        <div class="col-sm-6 mb-1">
            <div class="product-list-item p-1" style="background-color:#9f9f9f;">
                <h4> {{ product.title }} </h4>
                <div>
                    <p>{{ product.price }}</p>
                    <p>Пр. {{ product.manufacturer.title }}</p>
                    <p>Группа: {{ product.group }}</p>
                    <ul>
                        <li><h4>Категории</h4></li>
                        {% for foo in product.category.all %}
                            <li>{{ foo.title }}</li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{ product.get_absolute_url }}">Перейти</a>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    </div>
</div>