<div class="modal fade" id="order-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="loginmodal-container">
            <h1>Заполните форму</h1><br>
            <form action="" class="form-group"
                      id="user-data-form" method="post">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <p class="text-danger">{{ field.errors }}</p>
                        {{ field.label }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
{#            <label class="custom-control custom-checkbox">#}
{#                    <input id="agree_rights" name="agree_rights" type="checkbox" class="custom-control-input" required checked>#}
{#                    <span class="custom-control-indicator"></span>#}
{#                    <span class="custom-control-description">Согласен на обработку персональных данны</span>#}
{#                </label>#}
                <button id="order-btn" class="login font-weight-bold h3 loginmodal-submit g-recaptcha">Подтвердить</button>
            </form>

            <div class="login-help">
                <span>Мы свяжемся с вами после рассмотрения заказа</span>
            </div>
        </div>
    </div>
</div>
